{% extends "base.html" %}

{% block tab %}{% endblock %}
{% block content %}
  <div class="container", style="margin-top: 20px; background-color: #95d3fae6; max-width: 750px; border-radius: 10px; border: 3px solid rgb(247, 193, 244);">
    <div class="row">
      <div class="col d-flex align-items-end justify-content-center" style="height: 150px; margin-bottom: 50px; border-radius: 11px; background-image: url(static/img/bia.jpg); background-position: center; background-size: cover;">
        <div class="d-flex align-items-center justify-content-center" style="width: 1px; height: 1px; background-color: black;">
          <img src="static/img/avatar.png", style="width: 100px; height: 100px;">
        </div>
      </div>
    </div>
    <div class="row">
     <div class="col d-flex justify-content-end" style="margin: 5px;">
       <div class="card">
         <div class="card-body" style="text-align: right;">
              <h5 class="card-title">Nguyễn Duy Thắng</h5>
              <h6 class="card-tittle">2019-2022</h6>
              <span class="text-muted">Quang Trung High School for gifted</span><br><br>
              <h6 class="card-tittle">2022-Now</h6>
              <span class="text-muted">University of Information Technology</span><br>
          </div>
       </div>
     </div>
     <div class="col d-flex" style="margin: 5px;">
       <div class="card">
         <div class="card-body">
             <h5 class="card-title">🕸️ Contact me:</h5>
             <h6 class="card-tittle">📨&nbsp;Email:</h6>
             <span class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;22521333@gm.uit.edu.vn</span><br><br>
             <h6 class="card-tittle">&nbsp;ⓕ&nbsp;&nbsp;Facebook:</h6>
             <span class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;https://www.facebook.com/dythen.kumo</span><br><br>
             <h6 class="card-tittle">🌐&nbsp;Github:</h6>
             <span class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;https://github.com/DyThen-Kumo</span>
         </div>
       </div>
         
     </div>
    </div>
  </div>
{% endblock %}