{% extends "base.html" %}

{% block tab %}
  <!--Tab-->
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item", style="background-color: #95D4FA;">
      <a class="nav-link" href="{{ url_for('render_regular_search') }}">Regular Search</a>
    </li>
    <li class="nav-item", style="background-color: #95D4FA;">
      <a class="nav-link active" aria-current="page" href="{{ url_for('render_relative_search') }}">Relative Search</a>
    </li>
  </ul>
{% endblock %}
{% block content %}
  <!--Search-->
  <div class="container search">
    <!--Header-->
    <h1 class="my-4 text-center" style="color: #FCCCFC; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">RELATIVE SEARCH</h1>
    <!--Form Input-->
    <form id="imageForm" method = "POST" enctype="multipart/form-data" action="/get_relative_images">
      <div class="form-group mb-3">
        <label>Enter some parameters:</label>
        <input type="text" class="form-control" id="InputSubmitName" placeholder="Name of submit file">
        <input type="number" class="form-control mr-3" id="InputNumberImages" placeholder="Number of Images">
        <div class="form-group d-flex">
          <input type="file" class="form-control mr-3" id="InputImage" name="InputImage" placeholder="Upload image">
          <label>or</label>
          <input type="text" class="form-control ml-3" id="InputURL" placeholder="URL image">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <div class="image-container row" id="imageContainer"></div>
    <!--Confirm Button-->
    <div class="confirm-container">
      <button id="confirmButton" class="btn btn-success">Confirm</button>
      <button id="deleteButton" class="btn btn-success">Delete</button>
    </div>
  </div>

  <!--Double Click to zoom in Image-->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content" id="modalContent"></div>
  </div>
  
  <!--Code hiện ảnh-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#imageForm').submit(function(event) {
        event.preventDefault();

        const formData = new FormData();
        formData.append('number_image', $('#InputNumberImages').val());
        formData.append('image', $('#InputImage')[0].files[0]);
        formData.append('url', $('#InputURL').val());
        formData.append('submit_name', $('#InputSubmitName').val());
        
        $.ajax({
            url: '/get-relative-images',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
              const imageContainer = $('#imageContainer');
              imageContainer.empty();
              if (data.error) {
                alert(data.error);
              } else {
                data.forEach(function(urls) {
                  urls = urls.replace(/^.*static/, 'static'); // static/data/keyframes/kf_l.../kf/vd_name/kf_id
                  const parts = urls.split('\\');
                  const video_name = parts[parts.length - 2];
                  const keyframes_id = parts[parts.length - 1].split('.')[0];

                  //const imgName = urls.replace('D:\\CLB-AI\\AIC2024\\static\\', ''); // Xóa static/ khỏi đường dẫn
                  const colDiv = $('<div>').addClass('col-md-3'); // 5 hình ảnh trên mỗi hàng
                  const img = $('<img>').attr('src', urls).attr('alt', `${video_name}, ${keyframes_id}`);
                  const checkbox = $('<input>').attr('type', 'checkbox').attr('value', urls);
                  const infoDiv = $('<div>').addClass('image-info').append(checkbox).append($('<span>').text(`${video_name}, ${keyframes_id}`));
                  colDiv.append(img).append(infoDiv);
                  imageContainer.append(colDiv);
                });
              }
            }
        });
      });
      // Click phóng to ảnh
      $(document).on('dblclick', '.image-container img', function() {
        const src = $(this).attr('src');
        $('#modalContent').html('<img src="' + src + '">');
        $('#myModal').css('display', 'block');
      });
  
      $('#myModal').click(function() {
        $(this).css('display', 'none');
      });

      // Click confirm, gửi tên file về sever.
      $('#confirmButton').click(function() {
        const selectedImages = [];
        $('#imageContainer input[type="checkbox"]:checked').each(function() {
          selectedImages.push($(this).val());
        });
        const submitName = $('#InputSubmitName').val();

        // Gửi danh sách các đường dẫn đã chọn đến server hoặc xử lý theo nhu cầu
        console.log('Selected Images:', selectedImages);
        console.log('Submit File Name:', submitName);
        $.post('/confirm_selection', { selected_images: selectedImages, submit_file_name: submitName}, function(response) {
          alert(`Selection confirmed!\nSubmit File Name: ${submitName}`);
          console.log(response);
        });
      });
        // Click delete, xoá ảnh.
      $('#deleteButton').click(function() {
        $('#imageContainer').empty()
      });
    });
  </script>
{% endblock %}